@media screen and (max-width:1000px) {
    nav {
        flex-direction: column;
    }

    .logo {
        margin: 12px 0;
        justify-content: center;
    }

    nav ul {
        justify-content: center;
    }

    .search {
        justify-content: center;
    }

    .search input {
        margin: 12px 16px;
    }

    nav ul {
        height: 30px;
    }

    .card-items img {
        width: 130px;
    }

    #mycard {
        width: 80vw;
        height: 125px;
        margin: 4px -22px;
    }
}